In [1]:
import numpy as np
import pandas as pd
import matplotlib as mlt
import matplotlib.pyplot as plt
import seaborn as sns
import re
from urllib.parse import urljoin

from matplotlib import font_manager, rc   
font_name = font_manager.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

pd.options.display.float_format = "{:,.2f}".format

# 1. 공시지가 데이터셋 만들기

In [2]:
income3 = pd.read_csv("data/income3.csv",encoding="euc-kr") #정부공공데이터:encoding="euc-kr"
income3.head()

C:\Users\LG\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (3,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SIDO_NM,SIGUNGU_NM,BJDONG_NM,LAND_CD,JIGA(가격),SGG_CD,BJDONG_CD,LAND_GBN,LAND_GBN_NM,BOBN,BUBN,YEAR,BASE_MON
0,서울특별시,종로구,청운동,1111010100100010000,3765000,11110,10100,1,일반,1,0,2018,2018-01-01
1,서울특별시,종로구,청운동,1111010100100010001,1171000,11110,10100,1,일반,1,1,2018,2018-01-01
2,서울특별시,종로구,청운동,1111010100100010002,3056000,11110,10100,1,일반,1,2,2018,2018-01-01
3,서울특별시,종로구,청운동,1111010100100010003,3978000,11110,10100,1,일반,1,3,2018,2018-01-01
4,서울특별시,종로구,청운동,1111010100100010004,1425000,11110,10100,1,일반,1,4,2018,2018-01-01

In [3]:
# 컬럼이름 변경
income3.rename(columns={
    income3.columns[1]:"구", income3.columns[2]:"동",  income3.columns[4]:"공시지가",
}, inplace=True)

income3.head()

,SIDO_NM,구,동,LAND_CD,공시지가,SGG_CD,BJDONG_CD,LAND_GBN,LAND_GBN_NM,BOBN,BUBN,YEAR,BASE_MON
0,서울특별시,종로구,청운동,1111010100100010000,3765000,11110,10100,1,일반,1,0,2018,2018-01-01
1,서울특별시,종로구,청운동,1111010100100010001,1171000,11110,10100,1,일반,1,1,2018,2018-01-01
2,서울특별시,종로구,청운동,1111010100100010002,3056000,11110,10100,1,일반,1,2,2018,2018-01-01
3,서울특별시,종로구,청운동,1111010100100010003,3978000,11110,10100,1,일반,1,3,2018,2018-01-01
4,서울특별시,종로구,청운동,1111010100100010004,1425000,11110,10100,1,일반,1,4,2018,2018-01-01

In [4]:
# 같은 동끼리 묶기
# 하나라도 묶으면 데이터 프레임
income3_1 = income3.groupby([income3.구,income3.동]).sum()[["공시지가"]]
income3_1.rename(columns={"공시지가":"공시지가합계"}, inplace = True)
income3_1.head()
income3_1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 467 entries, (강남구, 개포동) to (중랑구, 중화동)
Data columns (total 1 columns):
공시지가합계    467 non-null int64
dtypes: int64(1)
memory usage: 9.0+ KB

In [5]:
income3_2 = income3.groupby([income3.구,income3.동]).mean()[["공시지가"]]
income3_2.rename(columns={"공시지가":"공시지가평균"}, inplace = True)
income3_2.head()

              공시지가평균
구   동
강남구 개포동 3,798,735.08
    논현동 7,357,435.83
    대치동 8,708,890.54
    도곡동 6,423,487.04
    삼성동 9,496,628.22

In [212]:
income3_2.reset_index()

       구      동        공시지가평균
0    강남구    개포동  3,798,735.08
1    강남구    논현동  7,357,435.83
2    강남구    대치동  8,708,890.54
3    강남구    도곡동  6,423,487.04
4    강남구    삼성동  9,496,628.22
5    강남구    세곡동  1,349,543.54
6    강남구    수서동  1,862,148.29
7    강남구    신사동 10,931,272.60
8    강남구   압구정동  9,481,798.86
9    강남구    역삼동  9,574,575.46
10   강남구    율현동  1,510,593.53
11   강남구    일원동  3,727,237.62
12   강남구    자곡동  1,449,108.29
13   강남구    청담동 10,202,899.96
14   강동구    강일동    645,384.21
15   강동구    고덕동  1,822,725.56
16   강동구     길동  3,729,561.37
17   강동구    둔촌동  2,360,703.99
18   강동구    명일동  3,975,409.60
19   강동구    상일동  2,292,801.79
20   강동구    성내동  3,853,370.82
21   강동구    암사동  2,588,074.53
22   강동구    천호동  3,836,852.92
23   강북구    미아동  2,319,034.38
24   강북구     번동  1,916,721.09
25   강북구    수유동  1,895,753.06
26   강북구    우이동  1,266,296.76
27   강서구    가양동  2,813,595.84
28   강서구    개화동    367,091.69
29   강서구    공항동  2,246,579.70
..   ...    ...           ...
437   중구  장충동2가  3,023,523.97
438   중구   저동1가 10,507,051.28
439   중구   저동2가 11,561,595.42
440   중구     정동  5,900,979.70
441   중구    주교동  9,523,389.86
442   중구    주자동  3,435,317.46
443   중구    중림동  4,150,804.57
444   중구     초동 10,179,707.87
445   중구  충무로1가 38,408,304.00
446   중구  충무로2가 25,555,705.65
447   중구  충무로3가 10,756,076.56
448   중구  충무로4가  8,430,554.95
449   중구  충무로5가  7,357,894.51
450   중구  충정로1가  7,551,423.08
451   중구  태평로1가 16,361,009.43
452   중구  태평로2가 17,923,333.33
453   중구   필동1가  6,896,202.31
454   중구   필동2가  4,992,004.67
455   중구   필동3가  3,708,943.44
456   중구    황학동  4,663,736.81
457   중구  회현동1가  8,339,105.67
458   중구  회현동2가  4,668,794.98
459   중구  회현동3가  5,704,188.41
460   중구    흥인동  6,495,763.80
461  중랑구    망우동  2,136,861.87
462  중랑구    면목동  2,333,104.52
463  중랑구     묵동  2,395,940.66
464  중랑구    상봉동  2,742,454.28
465  중랑구    신내동  1,342,041.16
466  중랑구    중화동  2,296,269.49

[467 rows x 3 columns]

# 공시지가 평균, 공시지가 합계의 데이터셋 만들기

In [217]:
mi = pd.merge(income3_1,income3_2, on=["구","동"], how='outer') #full outer: 양쪽에 있는것을 다가져옴
print(mi.head())
print(mi.info())
# 동이 467개

              공시지가합계       공시지가평균
구   동
강남구 개포동   9040989500 3,798,735.08
    논현동  40988275000 7,357,435.83
    대치동  27328498500 8,708,890.54
    도곡동  10804305200 6,423,487.04
    삼성동  28299952100 9,496,628.22
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 467 entries, (강남구, 개포동) to (중랑구, 중화동)
Data columns (total 2 columns):
공시지가합계    467 non-null int64
공시지가평균    467 non-null float64
dtypes: float64(1), int64(1)
memory usage: 12.6+ KB
None

In [219]:
mi = mi.reset_index()
mi.head()

   index    구    동       공시지가합계       공시지가평균
0      0  강남구  개포동   9040989500 3,798,735.08
1      1  강남구  논현동  40988275000 7,357,435.83
2      2  강남구  대치동  27328498500 8,708,890.54
3      3  강남구  도곡동  10804305200 6,423,487.04
4      4  강남구  삼성동  28299952100 9,496,628.22

In [267]:
road = pd.DataFrame(mi, columns=["동"])
# print(road.head())
b = []

for i in range(0, 467):
    df2 = re.split(r"\d", str(road.iloc[i]))
    df2 = list(map(lambda x: x.strip(), df2))
    df2 = list(filter(lambda x: x != '', df2))
    df3 = df2[0].replace("동"," ").replace('Name:',"").strip() 
    
    if len(df3) == 3:
        if df3[-1] != '동':
            df3 = df3 + '동'
    if len(df3) == 2:
        if df3[-1] != '동':
            df3 = df3 + '동'
    if len(df3) == 1:
        df3 = df3 + '동'
    b.append(df3)
    
b

['개포동',
 '논현동',
 '대치동',
 '도곡동',
 '삼성동',
 '세곡동',
 '수서동',
 '신사동',
 '압구정동',
 '역삼동',
 '율현동',
 '일원동',
 '자곡동',
 '청담동',
 '강일동',
 '고덕동',
 '길동',
 '둔촌동',
 '명일동',
 '상일동',
 '성내동',
 '암사동',
 '천호동',
 '미아동',
 '번동',
 '수유동',
 '우이동',
 '가양동',
 '개화동',
 '공항동',
 '과해동',
 '내발산동',
 '등촌동',
 '마곡동',
 '방화동',
 '염창동',
 '오곡동',
 '오쇠동',
 '외발산동',
 '화곡동',
 '남현동',
 '봉천동',
 '신림동',
 '광장동',
 '구의동',
 '군자동',
 '능동',
 '자양동',
 '중곡동',
 '화양동',
 '가리봉동',
 '개봉동',
 '고척동',
 '구로동',
 '궁동',
 '신도림동',
 '오류동',
 '온수동',
 '천왕동',
 '항동',
 '가산동',
 '독산동',
 '시흥동',
 '공릉동',
 '상계동',
 '월계동',
 '중계동',
 '하계동',
 '도봉동',
 '방학동',
 '쌍문동',
 '창동',
 '답십리동',
 '신설동',
 '용두동',
 '이문동',
 '장안동',
 '전농동',
 '제기동',
 '청량리동',
 '회기동',
 '휘경동',
 '노량진동',
 '대방동',
 '작동',
 '본동',
 '사당동',
 '상도동',
 '상도동',
 '신대방동',
 '흑석동',
 '공덕동',
 '구수동',
 '노고산동',
 '당인동',
 '대흥동',
 '도화동',
 '교동',
 '마포동',
 '망원동',
 '상수동',
 '상암동',
 '서교동',
 '성산동',
 '신공덕동',
 '신수동',
 '신정동',
 '아현동',
 '연남동',
 '염리동',
 '용강동',
 '중동',
 '창전동',
 '토정동',
 '하중동',
 '합정동',
 '현석동',
 '남가좌동',
 '냉천동',
 '대신동',
 '대현동',
 '미근동',
 '봉원동',
 '북가좌동',
 '북아현동',
 '신촌동',
 '연희동',
 '영천동',
 '옥천동',
 '창천동',
 '천연동',
 '충정로동',
 '충정로동',
 '합동',
 '현저동',
 '홍은동',
 '홍제동',
 '내곡동',
 '반포동',
 '방배동',
 '서초동',
 '신원동',
 '양재동',
 '염곡동',
 '우면동',
 '원지동',
 '잠원동',
 '금호동',
 '금호동',
 '금호동',
 '금호동',
 '도선동',
 '마장동',
 '사근동',
 '상왕십리',
 '성수동',
 '성수동',
 '송정동',
 '옥수동',
 '용답동',
 '응봉동',
 '하왕십리',
 '행당동',
 '홍익동',
 '길음동',
 '돈암동',
 '선동',
 '선동',
 '선동',
 '선동',
 '선동',
 '소문동',
 '소문동',
 '소문동',
 '소문동',
 '소문동',
 '소문동',
 '소문동',
 '보문동',
 '보문동',
 '보문동',
 '보문동',
 '보문동',
 '보문동',
 '보문동',
 '삼선동',
 '삼선동',
 '삼선동',
 '삼선동',
 '삼선동',
 '상월곡동',
 '석관동',
 '성북동',
 '성북동',
 '안암동',
 '안암동',
 '안암동',
 '안암동',
 '안암동',
 '장위동',
 '정릉동',
 '종암동',
 '하월곡동',
 '가락동',
 '거여동',
 '마천동',
 '문정동',
 '방이동',
 '삼전동',
 '석촌동',
 '송파동',
 '신천동',
 '오금동',
 '잠실동',
 '장지동',
 '풍납동',
 '목동',
 '신월동',
 '신정동',
 '당산동',
 '당산동',
 '당산동',
 '당산동',
 '당산동',
 '당산동',
 '당산동',
 '대림동',
 '도림동',
 '문래동',
 '문래동',
 '문래동',
 '문래동',
 '문래동',
 '문래동',
 '신길동',
 '양평동',
 '양평동',
 '양평동',
 '양평동',
 '양평동',
 '양평동',
 '양평동',
 '양화동',
 '여의도동',
 '영등포동',
 '영등포동',
 '영등포동',
 '영등포동',
 '영등포동',
 '영등포동',
 '영등포동',
 '영등포동',
 '영등포동',
 '갈월동',
 '남영동',
 '도원동',
 '빙고동',
 '자동',
 '문배동',
 '보광동',
 '산천동',
 '서계동',
 '서빙고동',
 '신계동',
 '신창동',
 '용문동',
 '용산동',
 '용산동',
 '용산동',
 '용산동',
 '용산동',
 '용산동',
 '원효로동',
 '원효로동',
 '원효로동',
 '원효로동',
 '이촌동',
 '이태원동',
 '주성동',
 '청암동',
 '청파동',
 '청파동',
 '청파동',
 '한강로동',
 '한강로동',
 '한강로동',
 '한남동',
 '효창동',
 '후암동',
 '갈현동',
 '구산동',
 '녹번동',
 '대조동',
 '불광동',
 '수색동',
 '신사동',
 '역촌동',
 '응암동',
 '증산동',
 '진관동',
 '가회동',
 '견지동',
 '경운동',
 '계동',
 '공평동',
 '관수동',
 '관철동',
 '관훈동',
 '교남동',
 '교북동',
 '구기동',
 '궁정동',
 '권농동',
 '낙원동',
 '내수동',
 '내자동',
 '누상동',
 '누하동',
 '당주동',
 '도렴동',
 '돈의동',
 '숭동',
 '명륜동',
 '명륜동',
 '명륜동',
 '명륜동',
 '묘동',
 '무악동',
 '봉익동',
 '부암동',
 '사간동',
 '사직동',
 '삼청동',
 '서린동',
 '세종로동',
 '소격동',
 '송월동',
 '송현동',
 '수송동',
 '숭인동',
 '신교동',
 '신문로동',
 '신문로동',
 '신영동',
 '안국동',
 '연건동',
 '연지동',
 '예지동',
 '옥인동',
 '와룡동',
 '운니동',
 '원남동',
 '원서동',
 '이화동',
 '익선동',
 '인사동',
 '인의동',
 '장사동',
 '재동',
 '적선동',
 '종로동',
 '종로동',
 '종로동',
 '종로동',
 '종로동',
 '종로동',
 '중학동',
 '창성동',
 '창신동',
 '청운동',
 '청진동',
 '체부동',
 '충신동',
 '통의동',
 '통인동',
 '팔판동',
 '평동',
 '평창동',
 '필운동',
 '행촌동',
 '혜화동',
 '홍지동',
 '홍파동',
 '화동',
 '효자동',
 '효제동',
 '훈정동',
 '광희동',
 '광희동',
 '남대문로',
 '남대문로',
 '남대문로',
 '남대문로',
 '남대문로',
 '남산동',
 '남산동',
 '남산동',
 '남창동',
 '남학동',
 '다동',
 '만리동',
 '만리동',
 '명동',
 '명동',
 '무교동',
 '무학동',
 '묵정동',
 '방산동',
 '봉래동',
 '봉래동',
 '북창동',
 '산림동',
 '삼각동',
 '서소문동',
 '소공동',
 '수표동',
 '수하동',
 '순화동',
 '신당동',
 '쌍림동',
 '예관동',
 '예장동',
 '오장동',
 '을지로동',
 '을지로동',
 '을지로동',
 '을지로동',
 '을지로동',
 '을지로동',
 '을지로동',
 '의주로동',
 '의주로동',
 '인현동',
 '인현동',
 '입정동',
 '장교동',
 '장충동',
 '장충동',
 '저동',
 '저동',
 '정동',
 '주교동',
 '주자동',
 '중림동',
 '초동',
 '충무로동',
 '충무로동',
 '충무로동',
 '충무로동',
 '충무로동',
 '충정로동',
 '태평로동',
 '태평로동',
 '필동',
 '필동',
 '필동',
 '황학동',
 '회현동',
 '회현동',
 '회현동',
 '흥인동',
 '망우동',
 '면목동',
 '묵동',
 '상봉동',
 '신내동',
 '중화동']

In [268]:
mi['new동'] = b
mi

     index    구      동       공시지가합계        공시지가평균  new동
0        0  강남구    개포동   9040989500  3,798,735.08   개포동
1        1  강남구    논현동  40988275000  7,357,435.83   논현동
2        2  강남구    대치동  27328498500  8,708,890.54   대치동
3        3  강남구    도곡동  10804305200  6,423,487.04   도곡동
4        4  강남구    삼성동  28299952100  9,496,628.22   삼성동
5        5  강남구    세곡동   2005421700  1,349,543.54   세곡동
6        6  강남구    수서동   1469235000  1,862,148.29   수서동
7        7  강남구    신사동  32159804000 10,931,272.60   신사동
8        8  강남구   압구정동   1668796600  9,481,798.86  압구정동
9        9  강남구    역삼동  58749595000  9,574,575.46   역삼동
10      10  강남구    율현동   1493977000  1,510,593.53   율현동
11      11  강남구    일원동   5389585600  3,727,237.62   일원동
12      12  강남구    자곡동   1851960400  1,449,108.29   자곡동
13      13  강남구    청담동  23170785800 10,202,899.96   청담동
14      14  강동구    강일동   1030033200    645,384.21   강일동
15      15  강동구    고덕동   5141908800  1,822,725.56   고덕동
16      16  강동구     길동   9432060700  3,729,561.37    길동
17      17  강동구    둔촌동   5443783400  2,360,703.99   둔촌동
18      18  강동구    명일동   4846024300  3,975,409.60   명일동
19      19  강동구    상일동   2556474000  2,292,801.79   상일동
20      20  강동구    성내동  20180103000  3,853,370.82   성내동
21      21  강동구    암사동  11876674000  2,588,074.53   암사동
22      22  강동구    천호동  33300046500  3,836,852.92   천호동
23      23  강북구    미아동  40654991800  2,319,034.38   미아동
24      24  강북구     번동   8824583900  1,916,721.09    번동
25      25  강북구    수유동  30212616520  1,895,753.06   수유동
26      26  강북구    우이동   3437995700  1,266,296.76   우이동
27      27  강서구    가양동   2976784400  2,813,595.84   가양동
28      28  강서구    개화동   1585836100    367,091.69   개화동
29      29  강서구    공항동   7703521800  2,246,579.70   공항동
..     ...  ...    ...          ...           ...   ...
437    437   중구  장충동2가   3809640200  3,023,523.97   장충동
438    438   중구   저동1가   1229325000 10,507,051.28    저동
439    439   중구   저동2가   3029138000 11,561,595.42    저동
440    440   중구     정동   1162493000  5,900,979.70    정동
441    441   중구    주교동   6571139000  9,523,389.86   주교동
442    442   중구    주자동    216425000  3,435,317.46   주자동
443    443   중구    중림동   3727422500  4,150,804.57   중림동
444    444   중구     초동   2717982000 10,179,707.87    초동
445    445   중구  충무로1가   4801038000 38,408,304.00  충무로동
446    446   중구  충무로2가   6337815000 25,555,705.65  충무로동
447    447   중구  충무로3가   2248020000 10,756,076.56  충무로동
448    448   중구  충무로4가   4603083000  8,430,554.95  충무로동
449    449   중구  충무로5가   1743821000  7,357,894.51  충무로동
450    450   중구  충정로1가    392674000  7,551,423.08  충정로동
451    451   중구  태평로1가   1734267000 16,361,009.43  태평로동
452    452   중구  태평로2가   3333740000 17,923,333.33  태평로동
453    453   중구   필동1가   1193043000  6,896,202.31    필동
454    454   중구   필동2가   3209859000  4,992,004.67    필동
455    455   중구   필동3가   1809964400  3,708,943.44    필동
456    456   중구    황학동   8753834000  4,663,736.81   황학동
457    457   중구  회현동1가   9706719000  8,339,105.67   회현동
458    458   중구  회현동2가   1115842000  4,668,794.98   회현동
459    459   중구  회현동3가    393589000  5,704,188.41   회현동
460    460   중구    흥인동   2117619000  6,495,763.80   흥인동
461    461  중랑구    망우동  13310512600  2,136,861.87   망우동
462    462  중랑구    면목동  36797724500  2,333,104.52   면목동
463    463  중랑구     묵동   9598138300  2,395,940.66    묵동
464    464  중랑구    상봉동  11828205300  2,742,454.28   상봉동
465    465  중랑구    신내동   3560435200  1,342,041.16   신내동
466    466  중랑구    중화동  12514668700  2,296,269.49   중화동

[467 rows x 6 columns]

In [272]:
mi['new동'] = b
mi = mi.fillna(0)
mi_1 = mi.groupby(['구','new동']).sum()
mi_1

          index       공시지가합계        공시지가평균
구   new동
강남구 개포동       0   9040989500  3,798,735.08
    논현동       1  40988275000  7,357,435.83
    대치동       2  27328498500  8,708,890.54
    도곡동       3  10804305200  6,423,487.04
    삼성동       4  28299952100  9,496,628.22
    세곡동       5   2005421700  1,349,543.54
    수서동       6   1469235000  1,862,148.29
    신사동       7  32159804000 10,931,272.60
    압구정동      8   1668796600  9,481,798.86
    역삼동       9  58749595000  9,574,575.46
    율현동      10   1493977000  1,510,593.53
    일원동      11   5389585600  3,727,237.62
    자곡동      12   1851960400  1,449,108.29
    청담동      13  23170785800 10,202,899.96
강동구 강일동      14   1030033200    645,384.21
    고덕동      15   5141908800  1,822,725.56
    길동       16   9432060700  3,729,561.37
    둔촌동      17   5443783400  2,360,703.99
    명일동      18   4846024300  3,975,409.60
    상일동      19   2556474000  2,292,801.79
    성내동      20  20180103000  3,853,370.82
    암사동      21  11876674000  2,588,074.53
    천호동      22  33300046500  3,836,852.92
강북구 미아동      23  40654991800  2,319,034.38
    번동       24   8824583900  1,916,721.09
    수유동      25  30212616520  1,895,753.06
    우이동      26   3437995700  1,266,296.76
강서구 가양동      27   2976784400  2,813,595.84
    개화동      28   1585836100    367,091.69
    공항동      29   7703521800  2,246,579.70
...         ...          ...           ...
중구  신당동     418  32640026500  3,301,641.36
    쌍림동     419   2440832000  4,921,032.26
    예관동     420   2681981000  8,433,902.52
    예장동     421   1188231200  2,517,438.98
    오장동     422   3131072000  6,249,644.71
    을지로동   2982  35948185000 89,787,943.46
    의주로동    861    775530000 10,443,105.59
    인현동     865   9517585000 16,234,397.22
    입정동     434   4035663000 10,089,157.50
    장교동     435    447170000 14,905,666.67
    장충동     873   6182740000  6,946,002.98
    저동      877   4258463000 22,068,646.70
    정동      440   1162493000  5,900,979.70
    주교동     441   6571139000  9,523,389.86
    주자동     442    216425000  3,435,317.46
    중림동     443   3727422500  4,150,804.57
    초동      444   2717982000 10,179,707.87
    충무로동   2235  19733777000 90,508,535.66
    충정로동    450    392674000  7,551,423.08
    태평로동    903   5068007000 34,284,342.77
    필동     1362   6212866400 15,597,150.42
    황학동     456   8753834000  4,663,736.81
    회현동    1374  11216150000 18,712,089.05
    흥인동     460   2117619000  6,495,763.80
중랑구 망우동     461  13310512600  2,136,861.87
    면목동     462  36797724500  2,333,104.52
    묵동      463   9598138300  2,395,940.66
    상봉동     464  11828205300  2,742,454.28
    신내동     465   3560435200  1,342,041.16
    중화동     466  12514668700  2,296,269.49

[361 rows x 3 columns]

In [273]:
mi_1 = mi_1.reset_index()
mi_1.head()

     구 new동  index       공시지가합계       공시지가평균
0  강남구  개포동      0   9040989500 3,798,735.08
1  강남구  논현동      1  40988275000 7,357,435.83
2  강남구  대치동      2  27328498500 8,708,890.54
3  강남구  도곡동      3  10804305200 6,423,487.04
4  강남구  삼성동      4  28299952100 9,496,628.22

In [ ]:
del mi_1["index"]

In [297]:
mi_1.head()
mi_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 4 columns):
구         361 non-null object
new동      361 non-null object
공시지가합계    361 non-null int64
공시지가평균    361 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 11.4+ KB

# 2. total 데이터셋

,Unnamed: 0,구,동,소인(외국인),소인(외국인 비율),소인(한국인),소인(한국인 비율),소인수,소인비율,노인수,...,노인(한국인),노인(한국인 비율),노인(외국인),노인(외국인 비율),총 수급자 가구,총 수급자 인원,순수익,재산세,재산세.1,구key
0,0,종로구,사직동,30,11.03,1444,15.13,1474,15.01,"1,301.00",...,"1,298.00",13.60,3.00,1.10,99,121,nan,NaN,NaN,0
1,1,종로구,삼청동,57,24.05,356,12.55,413,13.44,466.00,...,460.00,16.22,6.00,2.53,34,48,"1,506.94","2,255","2,289",0
2,2,종로구,부암동,17,4.38,1534,15.11,1551,14.72,"1,265.00",...,"1,261.00",12.42,4.00,1.03,104,141,"4,312.28","1,592","1,615",0
3,3,종로구,평창동,9,5.84,3139,16.56,3148,16.48,"2,269.00",...,"2,264.00",11.95,5.00,3.25,94,124,"7,798.93","4,576","4,644",0
4,4,종로구,무악동,8,17.78,1693,20.61,1701,20.59,919.00,...,919.00,11.19,0.00,0.00,101,137,"1,744.48","1,194","1,212",0
5,5,종로구,교남동,18,12.41,1807,16.89,1825,16.83,"1,029.00",...,"1,028.00",9.61,1.00,0.69,131,169,"2,242.80","1,791","1,817",0
6,6,종로구,가회동,12,10.26,601,13.57,613,13.48,645.00,...,644.00,14.54,1.00,0.85,45,60,"54,282.86","1,791","1,817",0
7,7,종로구,종로1.2.3.4가동,183,17.56,488,6.58,671,7.93,"1,287.00",...,"1,273.00",17.16,14.00,1.34,627,640,nan,NaN,NaN,0
8,8,종로구,종로5·6가동,49,13.17,442,8.46,491,8.77,780.00,...,779.00,14.91,1.00,0.27,172,216,"16,678.10","4,311","4,375",0
9,9,종로구,이화동,74,13.75,831,10.28,905,10.50,948.00,...,948.00,11.73,0.00,0.00,150,190,"6,705.69","1,791","1,817",0
10,10,종로구,창신1동,72,8.25,484,9.02,556,8.91,773.00,...,771.00,14.37,2.00,0.23,332,364,799.95,"1,857","1,885",0
11,11,종로구,창신2동,98,7.94,940,10.71,1038,10.36,"1,137.00",...,"1,130.00",12.87,7.00,0.57,280,367,927.09,597,606,0
12,12,종로구,창신3동,25,13.51,1063,14.65,1088,14.63,800.00,...,797.00,10.99,3.00,1.62,118,186,284.22,464,471,0
13,13,종로구,숭인1동,31,8.93,797,12.50,828,12.32,777.00,...,777.00,12.19,0.00,0.00,173,248,461.44,730,740,0
14,14,종로구,숭인2동,20,4.17,797,8.30,817,8.10,"1,074.00",...,"1,070.00",11.14,4.00,0.83,340,368,"3,019.07","2,056","2,087",0
15,15,종로구,청운효자동,27,10.89,2304,17.66,2331,17.54,"1,593.00",...,"1,584.00",12.14,9.00,3.63,130,174,"-4,479.76","2,056","2,087",0
16,16,종로구,혜화동,478,14.56,2251,13.18,2729,13.40,"1,924.00",...,"1,921.00",11.25,3.00,0.09,175,244,"8,376.69","2,454","2,490",0
17,17,중구,소공동,150,16.61,305,15.00,455,15.50,165.00,...,149.00,7.33,16.00,1.77,24,24,"39,096.62","21,770","20,320",1
18,18,중구,회현동,68,11.06,416,7.79,484,8.13,951.00,...,922.00,17.28,29.00,4.72,498,522,"351,238.13","10,452","9,066",1
19,19,중구,명동,62,9.83,226,7.96,288,8.30,476.00,...,463.00,16.31,13.00,2.06,52,53,"213,200.50","23,508","21,994",1
20,20,중구,필동,163,15.64,417,10.42,580,11.50,564.00,...,560.00,13.99,4.00,0.38,66,76,"9,208.80","3,562","3,153",1
21,21,중구,장충동,153,16.43,540,11.44,693,12.26,561.00,...,558.00,11.82,3.00,0.32,67,80,"33,082.55","2,305","1,955",1
22,22,중구,광희동,128,11.35,376,7.63,504,8.32,726.00,...,720.00,14.61,6.00,0.53,114,144,"29,519.78","7,108","6,047",1
23,23,중구,을지로동,20,10.81,81,4.72,101,5.31,293.00,...,287.00,16.72,6.00,3.24,81,85,"4,136.45","6,196","5,391",1
24,24,중구,신당5동,24,7.21,1213,12.96,1237,12.76,"1,053.00",...,"1,048.00",11.20,5.00,1.50,243,302,"3,054.00",998,741,1
25,25,중구,황학동,120,11.92,1329,10.74,1449,10.83,"1,180.00",...,"1,173.00",9.48,7.00,0.70,309,379,"1,033.00","2,804","2,169",1
26,26,중구,중림동,33,9.94,1916,15.15,1949,15.02,"1,326.00",...,"1,316.00",10.40,10.00,3.01,409,497,"5,545.52","1,871","1,443",1
27,27,중구,신당동,166,9.75,655,8.49,821,8.72,913.00,...,897.00,11.63,16.00,0.94,211,252,nan,NaN,NaN,1
28,28,중구,다산동,68,13.26,1668,11.42,1736,11.49,"1,703.00",...,"1,697.00",11.62,6.00,1.17,253,357,nan,NaN,NaN,1
29,29,중구,약수동,43,19.82,2426,13.66,2469,13.74,"2,379.00",...,"2,376.00",13.38,3.00,1.38,510,688,nan,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,394,송파구,가락1동,0,0.00,206,18.66,206,18.48,82.00,...,79.00,7.16,3.00,27.27,2,2,"3,042.10","3,670","2,295",23
395,395,송파구,가락2동,15,7.08,6876,20.08,6891,20.00,"2,168.00",...,"2,168.00",6.33,0.00,0.00,280,429,"15,649.96","5,218","3,466",23
396,396,송파구,문정1동,19,8.68,3198,14.87,3217,14.80,"1,527.00",...,"1,523.00",7.08,4.00,1.83,173,253,"9,032.05","6,078","2,669",23
397,397,송파구,문정2동,7,5.11,3542,11.81,3549,11.78,"2,106.00",...,"2,106.00",7.02,0.00,0.00,69,92,"7,786.38","6,824","4,804",23
398,398,송파구,장지동,8,3.79,6462,18.63,6470,18.54,"2,549.00",...,"2,548.00",7.35,1.00,0.47,658,"1,138","7,972.09","3,704","2,416",23
399,399,송파구,위례동,4,7.27,8489,29.50,8493,29.45,"1,124.00",...,"1,124.00",3.91,0.00,0.00,183,362,nan,NaN,NaN,23
400,400,송파구,잠실본동,38,6.00,3714,12.75,3752,12.61,"2,049.00",...,"2,043.00",7.02,6.00,0.95,445,612,"18,759.99","12,101","8,928",23
401,401,송파구,잠실4동,9,9.09,6728,22.43,6737,22.39,"2,088.00",...,"2,088.00",6.96,0.00,0.00,30,48,"2,494.44","23,069","6,304",23
402,402,송파구,잠실6동,34,23.13,3162,18.26,3196,18.30,"1,498.00",...,"1,496.00",8.64,2.00,1.36,21,30,"14,385.83","13,665","10,864",23
403,403,송파구,잠실7동,1,7.14,1880,18.16,1881,18.14,"1,268.00",...,"1,267.00",12.24,1.00,7.14,5,7,"10,256.74","4,623","3,723",23
404,404,송파구,잠실2동,16,12.80,10664,28.87,10680,28.81,"1,922.00",...,"1,921.00",5.20,1.00,0.80,14,15,"7,910.18","5,443","4,043",23
405,405,송파구,잠실3동,14,7.14,7656,21.06,7670,20.99,"2,888.00",...,"2,888.00",7.94,0.00,0.00,23,29,"1,691.64","18,388","18,355",23
406,406,강동구,강일동,5,3.40,7796,23.78,7801,23.69,"2,947.00",...,"2,944.00",8.98,3.00,2.04,543,959,223.31,"2,351","2,169",24
407,407,강동구,상일동,4,4.76,1985,17.96,1989,17.86,906.00,...,905.00,8.19,1.00,1.19,175,238,"3,121.58","5,455","5,033",24
408,408,강동구,명일1동,4,5.33,4238,18.91,4242,18.87,"1,799.00",...,"1,796.00",8.01,3.00,4.00,168,227,"8,626.18","4,445","4,101",24
409,409,강동구,명일2동,2,5.00,3961,22.03,3963,21.99,"1,208.00",...,"1,205.00",6.70,3.00,7.50,95,140,"6,326.82","4,158","3,837",24
410,410,강동구,고덕1동,8,8.89,6823,24.92,6831,24.87,"1,566.00",...,"1,564.00",5.71,2.00,2.22,177,238,"9,880.15","2,948","2,720",24
411,411,강동구,고덕2동,8,4.44,918,12.19,926,12.01,903.00,...,902.00,11.98,1.00,0.56,319,457,"1,553.91","2,001","1,846",24
412,412,강동구,암사2동,2,3.51,2460,16.79,2462,16.74,"1,247.00",...,"1,246.00",8.50,1.00,1.75,95,118,"10,934.43","2,685","2,478",24
413,413,강동구,암사3동,2,4.26,4233,22.40,4235,22.36,"1,315.00",...,"1,313.00",6.95,2.00,4.26,56,74,271.40,"3,686","3,401",24
414,414,강동구,천호1동,17,5.56,3893,13.50,3910,13.42,"2,881.00",...,"2,876.00",9.97,5.00,1.63,727,"1,014","1,895.16","2,321","2,142",24
415,415,강동구,천호3동,39,6.75,3324,11.88,3363,11.77,"2,709.00",...,"2,707.00",9.67,2.00,0.35,791,"1,037","3,259.14","3,294","3,040",24
416,416,강동구,성내1동,12,9.30,3709,17.77,3721,17.72,"1,630.00",...,"1,630.00",7.81,0.00,0.00,150,221,"15,168.67","3,690","3,405",24
417,417,강동구,성내2동,72,9.69,2740,10.97,2812,10.93,"2,446.00",...,"2,443.00",9.78,3.00,0.40,463,568,"3,991.87","3,118","2,878",24
418,418,강동구,성내3동,16,6.18,3621,15.15,3637,15.06,"2,065.00",...,"2,065.00",8.64,0.00,0.00,291,388,"13,342.64","3,894","3,593",24
419,419,강동구,둔촌1동,0,0.00,20,6.64,20,6.31,64.00,...,63.00,20.93,1.00,6.25,NaN,NaN,77.01,"4,693","4,330",24
420,420,강동구,둔촌2동,8,5.97,4797,17.06,4805,17.00,"2,257.00",...,"2,255.00",8.02,2.00,1.49,281,407,"21,974.66","3,514","3,242",24
421,421,강동구,암사1동,17,5.20,5731,15.31,5748,15.22,"3,421.00",...,"3,418.00",9.13,3.00,0.92,931,"1,414","2,693.45","3,210","2,962",24
422,422,강동구,천호2동,73,9.30,4253,11.93,4326,11.88,"3,564.00",...,"3,561.00",9.99,3.00,0.38,"1,009","1,376","19,674.63","6,774","6,251",24
423,423,강동구,길동,32,9.14,6517,13.92,6549,13.88,"4,088.00",...,"4,086.00",8.73,2.00,0.57,707,"1,036","8,258.35","7,860","7,253",24

In [227]:
import re #정규표현식을 쓰려면 re모듈설치

In [257]:
road = pd.DataFrame(total , columns=["동"])
# print(road.head())
a = []

for i in range(0, 424):
    df2 = re.split(r"\d", str(road.iloc[i]))
    df2 = list(map(lambda x: x.strip(), df2))
    df2 = list(filter(lambda x: x != '', df2))
    df3 = df2[0].replace("동"," ").replace('Name:',"").strip() 
    
    if len(df3) == 3:
        if df3[-1] != '동':
            df3 = df3 + '동'
    if len(df3) == 2:
        if df3[-1] != '동':
            df3 = df3 + '동'
    if len(df3) == 1:
        df3 = df3 + '동'
    a.append(df3)
    
a

['사직동',
 '삼청동',
 '부암동',
 '평창동',
 '무악동',
 '교남동',
 '가회동',
 '종로동',
 '종로동',
 '이화동',
 '창신동',
 '창신동',
 '창신동',
 '숭인동',
 '숭인동',
 '청운효자',
 '혜화동',
 '소공동',
 '회현동',
 '명동',
 '필동',
 '장충동',
 '광희동',
 '을지로동',
 '신당동',
 '황학동',
 '중림동',
 '신당동',
 '다산동',
 '약수동',
 '청구동',
 '화동',
 '후암동',
 '용산동',
 '남영동',
 '원효로동',
 '효창동',
 '용문동',
 '이촌동',
 '이촌동',
 '이태원동',
 '이태원동',
 '서빙고동',
 '보광동',
 '청파동',
 '원효로동',
 '한강로동',
 '한남동',
 '왕십리동',
 '마장동',
 '사근동',
 '행당동',
 '행당동',
 '응봉동',
 '금호동',
 '금호동',
 '성수동',
 '성수동',
 '성수동',
 '성수동',
 '송정동',
 '용답동',
 '왕십리도선',
 '금호동',
 '옥수동',
 '화양동',
 '군자동',
 '중곡동',
 '중곡동',
 '중곡동',
 '중곡동',
 '능동',
 '구의동',
 '구의동',
 '구의동',
 '광장동',
 '자양동',
 '자양동',
 '자양동',
 '자양동',
 '회기동',
 '휘경동',
 '휘경동',
 '청량리동',
 '용신동',
 '제기동',
 '전농동',
 '전농동',
 '답십리동',
 '답십리동',
 '장안동',
 '장안동',
 '이문동',
 '이문동',
 '면목동',
 '면목동',
 '면목동',
 '면목동',
 '상봉동',
 '상봉동',
 '중화동',
 '중화동',
 '묵동',
 '묵동',
 '망우동',
 '신내동',
 '신내동',
 '면목본동',
 '면목동',
 '망우본동',
 '돈암동',
 '돈암동',
 '안암동',
 '보문동',
 '정릉동',
 '정릉동',
 '정릉동',
 '정릉동',
 '길음동',
 '길음동',
 '월곡동',
 '월곡동',
 '장위동',
 '장위동',
 '장위동',
 '성북동',
 '삼선동',
 '선동',
 '종암동',
 '석관동',
 '번동',
 '번동',
 '번동',
 '수유동',
 '수유동',
 '수유동',
 '삼양동',
 '미아동',
 '송중동',
 '송천동',
 '삼각산동',
 '우이동',
 '인수동',
 '쌍문동',
 '쌍문동',
 '쌍문동',
 '쌍문동',
 '방학동',
 '방학동',
 '방학동',
 '창동',
 '창동',
 '창동',
 '창동',
 '창동',
 '도봉동',
 '도봉동',
 '월계동',
 '월계동',
 '월계동',
 '공릉동',
 '하계동',
 '하계동',
 '중계본동',
 '중계동',
 '중계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '중계동',
 '공릉동',
 '녹번동',
 '불광동',
 '갈현동',
 '갈현동',
 '구산동',
 '대조동',
 '응암동',
 '응암동',
 '신사동',
 '신사동',
 '증산동',
 '수색동',
 '진관동',
 '불광동',
 '응암동',
 '역촌동',
 '천연동',
 '홍제동',
 '홍제동',
 '홍제동',
 '홍은동',
 '홍은동',
 '남가좌동',
 '남가좌동',
 '북가좌동',
 '북가좌동',
 '충현동',
 '북아현동',
 '신촌동',
 '연희동',
 '용강동',
 '대흥동',
 '염리동',
 '신수동',
 '서교동',
 '합정동',
 '망원동',
 '망원동',
 '연남동',
 '성산동',
 '성산동',
 '상암동',
 '도화동',
 '서강동',
 '공덕동',
 '아현동',
 '목동',
 '목동',
 '목동',
 '목동',
 '신월동',
 '신월동',
 '신월동',
 '신월동',
 '신월동',
 '신월동',
 '신월동',
 '신정동',
 '신정동',
 '신정동',
 '신정동',
 '신정동',
 '목동',
 '신정동',
 '염창동',
 '등촌동',
 '등촌동',
 '등촌동',
 '화곡본동',
 '화곡동',
 '화곡동',
 '화곡동',
 '화곡동',
 '화곡동',
 '가양동',
 '가양동',
 '가양동',
 '발산동',
 '공항동',
 '방화동',
 '방화동',
 '방화동',
 '화곡동',
 '우장산동',
 '신도림동',
 '구로동',
 '구로동',
 '구로동',
 '구로동',
 '고척동',
 '고척동',
 '개봉동',
 '개봉동',
 '오류동',
 '오류동',
 '수궁동',
 '가리봉동',
 '구로동',
 '개봉동',
 '가산동',
 '독산동',
 '독산동',
 '독산동',
 '독산동',
 '시흥동',
 '시흥동',
 '시흥동',
 '시흥동',
 '시흥동',
 '여의동',
 '당산동',
 '당산동',
 '양평동',
 '양평동',
 '신길동',
 '신길동',
 '신길동',
 '신길동',
 '신길동',
 '신길동',
 '대림동',
 '대림동',
 '대림동',
 '영등포본',
 '영등포동',
 '도림동',
 '문래동',
 '노량진동',
 '상도동',
 '상도동',
 '상도동',
 '상도동',
 '사당동',
 '사당동',
 '사당동',
 '사당동',
 '대방동',
 '신대방동',
 '신대방동',
 '흑석동',
 '노량진동',
 '사당동',
 '보라매동',
 '청림동',
 '행운동',
 '낙성대동',
 '중앙동',
 '인헌동',
 '남현동',
 '서원동',
 '신원동',
 '서림동',
 '신사동',
 '신림동',
 '난향동',
 '조원동',
 '대학동',
 '은천동',
 '성현동',
 '청룡동',
 '난곡동',
 '삼성동',
 '미성동',
 '서초동',
 '서초동',
 '서초동',
 '서초동',
 '잠원동',
 '반포본동',
 '반포동',
 '반포동',
 '반포동',
 '반포동',
 '방배본동',
 '방배동',
 '방배동',
 '방배동',
 '방배동',
 '양재동',
 '양재동',
 '내곡동',
 '신사동',
 '논현동',
 '논현동',
 '삼성동',
 '삼성동',
 '대치동',
 '대치동',
 '역삼동',
 '역삼동',
 '도곡동',
 '도곡동',
 '개포동',
 '개포동',
 '일원본동',
 '일원동',
 '일원동',
 '수서동',
 '세곡동',
 '압구정동',
 '청담동',
 '대치동',
 '개포동',
 '풍납동',
 '풍납동',
 '거여동',
 '거여동',
 '마천동',
 '마천동',
 '방이동',
 '방이동',
 '오륜동',
 '오금동',
 '송파동',
 '송파동',
 '석촌동',
 '삼전동',
 '가락본동',
 '가락동',
 '가락동',
 '문정동',
 '문정동',
 '장지동',
 '위례동',
 '잠실본동',
 '잠실동',
 '잠실동',
 '잠실동',
 '잠실동',
 '잠실동',
 '강일동',
 '상일동',
 '명일동',
 '명일동',
 '고덕동',
 '고덕동',
 '암사동',
 '암사동',
 '천호동',
 '천호동',
 '성내동',
 '성내동',
 '성내동',
 '둔촌동',
 '둔촌동',
 '암사동',
 '천호동',
 '길동']

In [259]:
total['new동'] = a
total=total.fillna(0)
total_1 = total.groupby(['구','new동']).sum()

In [260]:
total_1 = total_1.reset_index()
total_1.head()

,구,new동,Unnamed: 0,소인(외국인),소인(외국인 비율),소인(한국인),소인(한국인 비율),소인수,소인비율,노인수,노인비율,노인(한국인),노인(한국인 비율),노인(외국인),노인(외국인 비율),순수익,구key
0,강남구,개포동,1115,22,23.67,6865,50.26,6887,50.17,"3,325.00",26.83,"3,321.00",26.92,4.00,8.65,"13,618.49",66
1,강남구,논현동,717,56,11.87,4645,20.58,4701,20.45,"3,711.00",16.05,"3,706.00",16.34,5.00,1.00,"89,175.80",44
2,강남구,대치동,1102,21,14.87,20294,69.88,20315,69.55,"5,128.00",17.41,"5,121.00",17.51,7.00,6.03,"180,670.60",66
3,강남구,도곡동,733,20,13.62,12242,41.99,12262,41.85,"4,348.00",15.04,"4,338.00",15.08,10.00,7.45,"168,667.09",44
4,강남구,삼성동,721,71,22.38,8630,37.19,8701,37.04,"3,370.00",15.29,"3,362.00",15.50,8.00,2.53,"193,143.15",44

In [261]:
del total_1["구key"]
del total_1["Unnamed: 0"]
total_1.head()

,구,new동,소인(외국인),소인(외국인 비율),소인(한국인),소인(한국인 비율),소인수,소인비율,노인수,노인비율,노인(한국인),노인(한국인 비율),노인(외국인),노인(외국인 비율),순수익
0,강남구,개포동,22,23.67,6865,50.26,6887,50.17,"3,325.00",26.83,"3,321.00",26.92,4.00,8.65,"13,618.49"
1,강남구,논현동,56,11.87,4645,20.58,4701,20.45,"3,711.00",16.05,"3,706.00",16.34,5.00,1.00,"89,175.80"
2,강남구,대치동,21,14.87,20294,69.88,20315,69.55,"5,128.00",17.41,"5,121.00",17.51,7.00,6.03,"180,670.60"
3,강남구,도곡동,20,13.62,12242,41.99,12262,41.85,"4,348.00",15.04,"4,338.00",15.08,10.00,7.45,"168,667.09"
4,강남구,삼성동,71,22.38,8630,37.19,8701,37.04,"3,370.00",15.29,"3,362.00",15.50,8.00,2.53,"193,143.15"

In [320]:
total_1.to_csv('final/total.csv', encoding="euc-kr")

# 3. acc데이터셋

In [286]:
acc = pd.read_csv("traffic_acc.csv",encoding="euc-kr") #정부공공데이터:encoding="euc-kr"
acc.head()

   Unnamed: 0    구    동  보행사고발생건수  노인사고발생건수  어린이사고발생건수
0           0  강남구  개포동      3.00       nan        nan
1           1  강남구  논현동      5.00       nan        nan
2           2  강남구  대치동      3.00       nan        nan
3           3  강남구  도곡동     10.00      3.00       3.00
4           4  강남구  삼성동      4.00       nan        nan

In [280]:
road = pd.DataFrame(acc , columns=["동"])
# print(road.head())
c = []

for i in range(0, 193):
    df2 = re.split(r"\d", str(road.iloc[i]))
    df2 = list(map(lambda x: x.strip(), df2))
    df2 = list(filter(lambda x: x != '', df2))
    df3 = df2[0].replace("동"," ").replace('Name:',"").strip() 
    
    if len(df3) == 3:
        if df3[-1] != '동':
            df3 = df3 + '동'
    if len(df3) == 2:
        if df3[-1] != '동':
            df3 = df3 + '동'
    if len(df3) == 1:
        df3 = df3 + '동'
    c.append(df3)
    
c

['개포동',
 '논현동',
 '대치동',
 '도곡동',
 '삼성동',
 '수서동',
 '역삼동',
 '길동',
 '명일동',
 '성내동',
 '암사동',
 '천호동',
 '미아동',
 '번동',
 '수유동',
 '등촌동',
 '방화동',
 '염창동',
 '화곡동',
 '남현동',
 '봉천동',
 '신림동',
 '구의동',
 '자양동',
 '중곡동',
 '가리봉동',
 '개봉동',
 '고척동',
 '구로동',
 '궁동',
 '신도림동',
 '오류동',
 '가산동',
 '독산동',
 '시흥동',
 '공릉동',
 '상계동',
 '월계동',
 '중계동',
 '하계동',
 '도봉동',
 '방학동',
 '쌍문동',
 '창동',
 '답십리동',
 '신설동',
 '용두동',
 '이문동',
 '장안동',
 '전농동',
 '제기동',
 '청량리동',
 '휘경동',
 '노량진동',
 '대방동',
 '사당동',
 '상도동',
 '상도동',
 '흑석동',
 '구수동',
 '노고산동',
 '도화동',
 '교동',
 '망원동',
 '서교동',
 '아현동',
 '연남동',
 '염리동',
 '남가좌동',
 '북가좌동',
 '북아현동',
 '연희동',
 '영천동',
 '현저동',
 '홍은동',
 '홍제동',
 '방배동',
 '서초동',
 '잠원동',
 '금호동',
 '금호동',
 '도선동',
 '마장동',
 '상왕십리',
 '성수동',
 '성수동',
 '옥수동',
 '용답동',
 '응봉동',
 '행당동',
 '홍익동',
 '길음동',
 '돈암동',
 '선동',
 '선동',
 '선동',
 '소문동',
 '소문동',
 '소문동',
 '삼선동',
 '상월곡동',
 '석관동',
 '안암동',
 '장위동',
 '정릉동',
 '종암동',
 '하월곡동',
 '가락동',
 '마천동',
 '석촌동',
 '오금동',
 '잠실동',
 '풍납동',
 '목동',
 '신월동',
 '신정동',
 '당산동',
 '당산동',
 '당산동',
 '대림동',
 '도림동',
 '문래동',
 '신길동',
 '양평동',
 '영등포동',
 '영등포동',
 '영등포동',
 '영등포동',
 '영등포동',
 '갈월동',
 '남영동',
 '보광동',
 '서계동',
 '용산동',
 '한남동',
 '효창동',
 '후암동',
 '갈현동',
 '녹번동',
 '대조동',
 '불광동',
 '신사동',
 '역촌동',
 '응암동',
 '증산동',
 '경운동',
 '관수동',
 '관훈동',
 '낙원동',
 '묘동',
 '세종로동',
 '숭인동',
 '종로동',
 '종로동',
 '종로동',
 '창신동',
 '효제동',
 '남대문로',
 '남창동',
 '봉래동',
 '산림동',
 '서소문동',
 '신당동',
 '을지로동',
 '을지로동',
 '의주로동',
 '충무로동',
 '망우동',
 '면목동',
 '묵동',
 '상봉동',
 '신내동',
 '중화동',
 '고덕동',
 '공항동',
 '군자동',
 '회기동',
 '성산동',
 '사근동',
 '문정동',
 '방이동',
 '삼전동',
 '신천동',
 '영등포동',
 '용문동',
 '이태원동',
 '견지동',
 '내자동',
 '종로동',
 '종로동',
 '북창동',
 '우면동',
 '송파동']

In [282]:
acc['new동'] = c
acc=acc.fillna(0)
acc_1 = acc.groupby(['구','new동']).sum()
acc_1

          Unnamed: 0  보행사고발생건수  노인사고발생건수  어린이사고발생건수
구   new동
강남구 개포동            0      3.00      0.00       0.00
    논현동            1      5.00      0.00       0.00
    대치동            2      3.00      0.00       0.00
    도곡동            3     10.00      3.00       3.00
    삼성동            4      4.00      0.00       0.00
    수서동            5      7.00      0.00       0.00
    역삼동            6      4.00      0.00       3.00
강동구 고덕동          173      0.00      3.00       0.00
    길동             7     14.00      4.00       0.00
    명일동            8      7.00     10.00       0.00
    성내동            9     22.00      3.00       0.00
    암사동           10      3.00      5.00       0.00
    천호동           11     12.00      4.00       0.00
강북구 미아동           12     69.00     14.00       4.00
    번동            13     18.00      0.00       0.00
    수유동           14     53.00     17.00       0.00
강서구 공항동          174      0.00      3.00       0.00
    등촌동           15      9.00      0.00       0.00
    방화동           16      9.00      4.00       0.00
    염창동           17      7.00      4.00       0.00
    화곡동           18     39.00      7.00       0.00
관악구 남현동           19      7.00      0.00       0.00
    봉천동           20     91.00      8.00       0.00
    신림동           21     53.00     21.00       0.00
광진구 구의동           22      9.00      3.00       0.00
    군자동          175      0.00      4.00       0.00
    자양동           23      3.00      0.00       0.00
    중곡동           24     20.00      5.00       0.00
구로구 가리봉동          25      9.00      3.00       0.00
    개봉동           26     21.00      9.00       0.00
...              ...       ...       ...        ...
은평구 응암동          143     24.00      9.00       0.00
    증산동          144     10.00      0.00       0.00
종로구 견지동          186      0.00      3.00       0.00
    경운동          145      3.00      0.00       0.00
    관수동          146     10.00      0.00       0.00
    관훈동          147      3.00      0.00       0.00
    낙원동          148     12.00      0.00       0.00
    내자동          187      0.00      3.00       0.00
    묘동           149      4.00      0.00       0.00
    세종로동         150      3.00      0.00       0.00
    숭인동          151     21.00      4.00       0.00
    종로동          836     18.00     12.00       0.00
    창신동          155     12.00      4.00       0.00
    효제동          156      4.00      0.00       0.00
중구  남대문로         157      9.00      4.00       0.00
    남창동          158     14.00      0.00       0.00
    봉래동          159     10.00      4.00       0.00
    북창동          190      0.00      3.00       0.00
    산림동          160      4.00      0.00       0.00
    서소문동         161      2.00      0.00       0.00
    신당동          162     32.00      5.00       0.00
    을지로동         327     11.00      0.00       0.00
    의주로동         165      3.00      0.00       0.00
    충무로동         166      4.00      0.00       0.00
중랑구 망우동          167     26.00      8.00       0.00
    면목동          168     10.00     13.00       0.00
    묵동           169      5.00      4.00       0.00
    상봉동          170     15.00      0.00       0.00
    신내동          171      3.00      0.00       0.00
    중화동          172     11.00      3.00       0.00

[174 rows x 4 columns]

In [284]:
acc_1 = acc_1.reset_index()
acc_1.head()

     구 new동  Unnamed: 0  보행사고발생건수  노인사고발생건수  어린이사고발생건수
0  강남구  개포동           0      3.00      0.00       0.00
1  강남구  논현동           1      5.00      0.00       0.00
2  강남구  대치동           2      3.00      0.00       0.00
3  강남구  도곡동           3     10.00      3.00       3.00
4  강남구  삼성동           4      4.00      0.00       0.00

In [285]:
del acc_1["Unnamed: 0"]
acc_1.head()

     구 new동  보행사고발생건수  노인사고발생건수  어린이사고발생건수
0  강남구  개포동      3.00      0.00       0.00
1  강남구  논현동      5.00      0.00       0.00
2  강남구  대치동      3.00      0.00       0.00
3  강남구  도곡동     10.00      3.00       3.00
4  강남구  삼성동      4.00      0.00       0.00

# 4. 공시지가  데이터셋과 total 합치기

In [304]:
Total1= pd.merge(mi_1,total_1, on=["구","new동"], how='outer') #full outer: 양쪽에 있는것을 다가져옴
Total1.head()
Total1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 412 entries, 0 to 411
Data columns (total 18 columns):
구             412 non-null object
new동          412 non-null object
공시지가합계        361 non-null float64
공시지가평균        361 non-null float64
index         244 non-null float64
소인(외국인)       244 non-null float64
소인(외국인 비율)    244 non-null float64
소인(한국인)       244 non-null float64
소인(한국인 비율)    244 non-null float64
소인수           244 non-null float64
소인비율          244 non-null float64
노인수           244 non-null float64
노인비율          244 non-null float64
노인(한국인)       244 non-null float64
노인(한국인 비율)    244 non-null float64
노인(외국인)       244 non-null float64
노인(외국인 비율)    244 non-null float64
순수익           244 non-null float64
dtypes: float64(16), object(2)
memory usage: 61.2+ KB

# 5. 위에 데이터와 사고 데이터셋 합치기

In [321]:
final= pd.merge(Total1,acc_1, on=["구","new동"], how='outer') #full outer: 양쪽에 있는것을 다가져옴
final.head()
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 412 entries, 0 to 411
Data columns (total 21 columns):
구             412 non-null object
new동          412 non-null object
공시지가합계        361 non-null float64
공시지가평균        361 non-null float64
index         244 non-null float64
소인(외국인)       244 non-null float64
소인(외국인 비율)    244 non-null float64
소인(한국인)       244 non-null float64
소인(한국인 비율)    244 non-null float64
소인수           244 non-null float64
소인비율          244 non-null float64
노인수           244 non-null float64
노인비율          244 non-null float64
노인(한국인)       244 non-null float64
노인(한국인 비율)    244 non-null float64
노인(외국인)       244 non-null float64
노인(외국인 비율)    244 non-null float64
순수익           244 non-null float64
보행사고발생건수      174 non-null float64
노인사고발생건수      174 non-null float64
어린이사고발생건수     174 non-null float64
dtypes: float64(19), object(2)
memory usage: 70.8+ KB

In [322]:
del final["index"]

In [323]:
# null값은 무엇인가..??
final_na_sum = final.isnull().sum()
print(final_na_sum)

구               0
new동            0
공시지가합계         51
공시지가평균         51
소인(외국인)       168
소인(외국인 비율)    168
소인(한국인)       168
소인(한국인 비율)    168
소인수           168
소인비율          168
노인수           168
노인비율          168
노인(한국인)       168
노인(한국인 비율)    168
노인(외국인)       168
노인(외국인 비율)    168
순수익           168
보행사고발생건수      238
노인사고발생건수      238
어린이사고발생건수     238
dtype: int64

In [324]:
final.to_csv('final/final.csv', encoding="euc-kr")

In [325]:
final_in= pd.merge(Total1,acc_1, on=["구","new동"]) #full outer: 양쪽에 있는것을 다가져옴
final_in.head()
final_in.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 0 to 173
Data columns (total 21 columns):
구             174 non-null object
new동          174 non-null object
공시지가합계        174 non-null float64
공시지가평균        174 non-null float64
index         138 non-null float64
소인(외국인)       138 non-null float64
소인(외국인 비율)    138 non-null float64
소인(한국인)       138 non-null float64
소인(한국인 비율)    138 non-null float64
소인수           138 non-null float64
소인비율          138 non-null float64
노인수           138 non-null float64
노인비율          138 non-null float64
노인(한국인)       138 non-null float64
노인(한국인 비율)    138 non-null float64
노인(외국인)       138 non-null float64
노인(외국인 비율)    138 non-null float64
순수익           138 non-null float64
보행사고발생건수      174 non-null float64
노인사고발생건수      174 non-null float64
어린이사고발생건수     174 non-null float64
dtypes: float64(19), object(2)
memory usage: 29.9+ KB

In [326]:
del final_in["index"]

In [327]:
final_na_sumi = final_in.isnull().sum()
print(final_na_sumi)

구              0
new동           0
공시지가합계         0
공시지가평균         0
소인(외국인)       36
소인(외국인 비율)    36
소인(한국인)       36
소인(한국인 비율)    36
소인수           36
소인비율          36
노인수           36
노인비율          36
노인(한국인)       36
노인(한국인 비율)    36
노인(외국인)       36
노인(외국인 비율)    36
순수익           36
보행사고발생건수       0
노인사고발생건수       0
어린이사고발생건수      0
dtype: int64

In [328]:
Total.to_csv('final/final_in.csv', encoding="euc-kr")